
//input#nav-toggle(type="checkbox")
// label(for="nav-toggle")
//     span

div#menu
    div#logo Nav Bar
    div#burger
        div#line1
        div#line2
        div#line3
    div.nav-inactive#buttons
        div <a href="#">Home</a>
        div <a href="#">About</a>
        div <a href="#">Work</a>
        div <a href="#">Projects</a>
    script(src="/javascripts/navbar.js")

        