#banner
  display grid
  background-color #fee     ///
  max-width $max_page_width
  height 100px
  //grid-gap 5px
  grid-template-areas \
    "logo title" \
    "logo tagline"
  // 600px-960px is available
  grid-template-columns minmax(150px,1fr) minmax(450px,4fr)
  // 50px-150px is available
  grid-template-rows 66px 34px

  @media screen and (max-width: 600px)
    grid-template-areas \
      "logo" \
      "title" \
      "tagline"
    grid-template-columns 1fr
    grid-template-rows 30px 50px 20px
    justify-content center

    
  #logo
    grid-area logo
    background-color rgba(255,0,0,0.2)
  #title
    grid-area title
    background-color rgba(0,255,0,0.2)
  #tagline
    grid-area tagline
    background-color rgba(0,0,255,0.2)
  