
// site layout on a monitor
#scaffold
  display grid
  overflow-x hidden
  //background-color #fdd
  //grid-row-gap 5px  
  grid-template-columns minmax(auto,$max_page_width)
  justify-content center
  grid-template-rows 100px 50px minmax(300px,auto) minmax(100px,auto)
  grid-template-areas \
    "header" \
    "nav" \
    "main" \
    "footer"

  #header
    grid-area header
    //background-color rgba(0,95,107,0.6)
  #nav
    grid-area nav
    background-color #ada
    position relative
  #main
    grid-area main
    background-color #fee
  #footer
    grid-area footer
    //background-color #ada





